<div class="text-center mt-5">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#applicationModal">
        <i class="fas fa-calendar-plus"></i> Apply
    </button>
</div>
<!-- Request Form Modal -->
<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" action="{% url 'submit_application' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="applicationModalLabel">Submit Request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
            <div class="form-group col-12">
                <label for="request_form">Request Type</label>
                <select name="request_form" id="request_form" class="form-control" required onchange="toggleFormSections()">
                    <option value="">-- Select Request Type --</option>
                    {% for form in request_forms %}
                        <option value="{{ form.id }}">{{ form.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Leave Form -->
            <div id="leave-form" class="form-section d-none col-12">
                <div class="form-group">
                    <label for="leave_type">Leave Type</label>
                    <select name="leave_type" class="form-control" id="leave_type" data-must-required="1" required>
                        {% comment %} <option value="">-- Select Leave Type --</option>
                        {% for leave_type in leave_types %}
                            <option value="{{ leave_type.id }}">{{ leave_type.name }}</option>
                        {% endfor %} {% endcomment %}
                    </select>
                </div>

                <!-- From Date -->
                <div class="form-group">
                    <label for="from_date">From Date</label>
                    <input type="date" name="from_date" id="from_date" class="form-control"
                        onclick="this.showPicker()" onchange="calculateTotalDays()" data-must-required="1" required>
                </div>

                <!-- To Date -->
                <div class="form-group">
                    <label for="to_date">To Date</label>
                    <input type="date" name="to_date" id="to_date" class="form-control"
                        onclick="this.showPicker()" onchange="calculateTotalDays()" data-must-required="1" required>
                </div>

                <!-- Total Days (Initially Hidden) -->
                <div class="form-group d-none" id="total-days-container">
                    <label for="total_days">Total Days</label>
                    <input type="number" name="total_days" id="total_days" class="form-control" readonly>
                </div>
                
                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea name="remarks" class="form-control" rows="3" data-must-required="1" required></textarea>
                </div>
            </div>

            <!-- Rejoining Form -->
            <div id="rejoin-form" class="form-section d-none col-12">
                {% if last_leave %}
                    <div class="card shadow border-left-primary mb-3">
                        <div class="card-header bg-primary text-white">
                            <i class="fas fa-calendar-check"></i> Last Approved Leave - {{ last_leave.application_id }}
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-umbrella-beach text-info"></i> Leave Type</span>
                                <span class="font-weight-bold text-dark">{{ last_leave.leave_type.name }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-calendar-day text-success"></i> From</span>
                                <span class="badge badge-light">{{ last_leave.from_date }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-calendar-day text-danger"></i> To</span>
                                <span class="badge badge-light">{{ last_leave.to_date }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-clock text-warning"></i> Total Days</span>
                                <span class="font-weight-bold">{{ last_leave.total_days }}</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="fas fa-comment-dots text-secondary"></i> Remarks :</span>
                                <p class="mb-0 mt-1 text-muted">{{ last_leave.remarks }}</p>
                            </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <i class="fas fa-exclamation-circle me-2"></i>
                        <span>No approved leave found</span>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="rejoindate">Rejoin Date</label>
                    <input type="date" name="rejoin_date" id="rejoin_date" class="form-control"
                        onclick="this.showPicker()" data-must-required="1" required>
                    <input type="hidden" name="app_id" value={{last_leave.id}}>
                </div>
            </div>

            <!-- Salary Advance -->
            <div id="salary-form" class="form-section d-none col-12">
                <div class="form-group">
                    <label for="month">Month</label>
                    <select name="month" id="month" class="form-control" data-must-required="1" required>
                        <option value="">Select Month</option>
                        {% for m in months %}
                        <option value="{{ m.id }}">{{ m.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="year">Year</label>
                    <select name="year" id="year" class="form-control" data-must-required="1" required>
                        <option value="">Select Year</option>
                        {% for y in years %}
                        <option value="{{ y.id }}">{{ y.year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea name="salary_ad_remarks" id="salary_ad_remarks" class="form-control" rows="3" data-must-required="1" required></textarea>
                </div>
            </div>

            <!-- Clearance -->
            <!-- Leave Form -->
            <div id="clearance-form" class="form-section d-none col-12">
                <div class="form-group">
                    <label for="clearance_type">Type of Clearance</label>
                    <select name="clearance_type" class="form-control" id="clearance_type" data-must-required="1" required>
                        {% comment %} <option value="">-- Select Leave Type --</option>
                        {% for leave_type in leave_types %}
                            <option value="{{ leave_type.id }}">{{ leave_type.name }}</option>
                        {% endfor %} {% endcomment %}
                    </select>
                </div>

                <!-- Last working Date -->
                <div class="form-group">
                    <label for="last_working_date">Last Working Date</label>
                    <input type="date" name="last_working_date" id="last_working_date" class="form-control"
                        onclick="this.showPicker()" data-must-required="1" required>
                </div>

                <!-- Departure Date -->
                <div class="form-group">
                    <label for="departure_date">Departure Date</label>
                    <input type="date" name="departure_date" id="departure_date" class="form-control"
                        onclick="this.showPicker()" data-must-required="1" required>
                </div>

                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea name="remarks" class="form-control" rows="3" data-must-required="1" required></textarea>
                </div>
            </div>

            </div>
        </div>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-info">Reset</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
