name: Deploy Django App to Azure

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run collectstaics
      run: python manage.py collectstaics

    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C8B39C1581A245ECBBE05E09B0AF070C }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AD1851C80BDA4123A90C9D966A50C8D0 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4EBDE9A55E4740AE82E5CD6486CC00EE }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: wataniyaticket   # change to your actual app name
        slot-name: Production
        package: .
